<div class="container">
    <div class="mb-3 row">
        <label class="col-4 col-form-label">Name</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Description">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
            <button type="submit" class="btn btn-primary">EDIT</button>
        </div>
    </div>
</div>